body{font-family:Arial;background:#f4f4f4;}
.contenedor{width:350px;margin:80px auto;padding:20px;background:white;border-radius:8px;text-align:center;}
input,button{width:100%;padding:8px;margin-top:10px;}
button{background:#007BFF;color:white;border:none;}
.resultado{margin-top:15px;padding:10px;background:#e6ffe6;}